*{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


.section-1{
  background-color: #1F2937;
  color: white;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  
  
}



.header-logo{
  font-size: 24px;
  font-weight: bold;
  
}

ul{
  list-style: none;
  display: flex;
  gap: 24px;
  
}

a{
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 18px;
}


.hero{
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
}

.welcome-info{
  width: 450px;
}

.hero-title{
  font-weight: bolder ;
  font-size:48px;
  margin-bottom: 10px;
}

.hero-text{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.sign-up-button{
  background-color: #3882F6;
  color: white;
  padding: 6px 30px;
  font-weight: bold;
  border: none;
  border-radius: 5px;

}

.welcome-img{
  width: 400px;
  background-color: lightgrey;
  color:#1F2937;
}
